body {
    margin: 0;
    font-family: 'sans';
    background: url(img/bodybackground.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.toggle-slot {
    cursor: pointer;
    position: relative;
    top: 4em;
    left: 12em;
    height: 2em;
    width: 6em;
    border: 5px solid #e4e7ec;
    border-radius: 10em;
    background-color: white;
    transition: background-color 250ms;
}
  
.toggle-checkbox:checked ~ .toggle-slot {
    background-color: #374151;
}
  
.toggle-button {
    transform: translate(11.75em, .08em);
    position: absolute;
    height: 1.9em;
    width: 1.9em;
    left: -8rem;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}
  
.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.75em white;
    transform: translate(0.45em, 0.09em);
}

  
.sun-icon {
    position: absolute;
    top: -0.9em;
    left: -2.5em;
    height: 2em;
    width: 2em;
    color: #ffbb52;
}
  
.sun-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 1;
    transform: translate(2em, 2em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}
  
.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(3em, 2em) rotate(0deg);
}
  
.moon-icon {
    position: absolute;
    top: -4.6em;
    left: -7em;
    height: 2em;
    width: 2em;
    color: white;
}
  
.moon-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 0;
    transform: translate(11em, 2em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}
  
.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(12em, 2em) rotate(-15deg);
}

p {
    color: tomato;
}

::-webkit-scrollbar {
    width: 6px;
    background: black;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, tomato);
    border-radius: 6px;
}

@font-face {
    font-family: 'sans';
    src: url(fonts/sans.ttf);
}


/* INTRO START */

#intro {
    background: url(img/bodybackground.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.intro-heading {
    padding-top: 12rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 10rem;
    color: white;
}

.intro-subheading {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 15rem;
    color: white;
}

.intro-social {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.intro-social li {
    top: 2rem;
    display: inline-block;
    padding: 1.5rem;
}

.intro-social li a:visited {
    color: white;
}


/*.intro-social li a:hover, .intro-social li a:focus{
    color: #cc005f;
}*/

.fa-facebook:hover {
    color: #4267B2;
}

.fa-github:hover {
    color: #727171;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-linkedin:hover {
    color: #0e76a8;
}

.fa-instagram:hover {
    color: #E1306C;
}


/* INTRO SECTION END */


/* DOWM ARROW START */

.down-arrow {
    color: #fff;
    font-size: 30px;
    position: absolute;
    bottom: 30px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    animation: ease-in 10s infinite;
}

.down-arrow a {
    color: #fff;
}


/* Bounce animation style*/

.bounce {
    position: absolute;
    bottom: 30px;
    left: 51%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    -moz-animation: bounce 3s infinite;
    -o-animation: bounce 3s infinite;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
    }
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
    }
}

@-o-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -o-transform: translateY(0);
    }
    40% {
        -o-transform: translateY(-30px);
    }
    60% {
        -o-transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


/* DOWN ARROW END */


/* INTRO SECTION  RESPONSIVE START */

@media only screen and (max-width:1024px) {
    .intro-heading {
        font-size: 8rem;
    }
    .intro-subheading {
        font-size: 1.5rem;
    }
    .bounce {
        left: 51%;
    }
}

@media only screen and (max-width:768px) {
    .intro-heading {
        padding-top: 14rem;
        font-size: 5.5rem;
    }
    .intro-subheading {
        font-size: 1.3rem;
        padding-bottom: 20rem;
    }
    .bounce {
        left: 53%;
    }
}

@media only screen and (max-width:600px) {
    .intro-heading {
        padding-top: 15rem;
        font-size: 4.5rem;
    }
    .intro-subheading {
        font-size: 1.1rem;
        padding-bottom: 20rem;
    }
    .bounce {
        left: 55%;
    }
}

@media only screen and (max-width:400px) {
    .intro-heading {
        padding-top: 15rem;
        font-size: 3.5rem;
    }
    .intro-subheading {
        font-size: 1rem;
        padding-bottom: 20rem;
    }
    .bounce {
        left: 55%;
    }
}


/* INTRO SECTION  RESPONSIVE END */


/* ABOUT SECTION STARTS */

.background {
    background: #151515 url(img/bg1.png);
    background-size: cover;
    background-attachment: fixed;
}

#about {
    margin-top: -1rem;
    max-width: 1050px;
    margin: auto;
    background-attachment: fixed;
}

.about-intro {
    font-size: 1.2rem;
    padding-top: 3rem;
    text-align: center;
}

.about-intro h1 {
    color: #1F2123;
    letter-spacing: 0.5rem;
}

.about-intro h2 {
    color: white;
    letter-spacing: 0.4rem;
    margin-top: -4rem;
}

.about-intro p {
    font-size: 1.8rem;
    color: tomato;
}

.profile-image {
    height: 18rem;
    width: 29rem;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    float: left;
}

.about-description {
    width: 90%;
    padding-top: 3rem;
    font-size: 1.25rem;
    color: white;
}


/* ABOUT SECTION ENDS */


/*ABOUT SECTION RESPONSIVE STARTS */

@media only screen and (max-width:1024px) {
    .about-intro h1 h2 {
        font-size: 1.4rem;
    }
    .profile-image {
        width: 30rem;
    }
}

@media only screen and (max-width:768px) {
    .about-intro h1 h2 {
        font-size: 1.3rem;
    }
    .profile-image {
        width: 30rem;
        height: 18rem;
    }
    .about-description {
        position: relative;
        top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1rem;
        font-size: 1.3rem;
    }
    .intro-social li {
        font-size: 1.5rem;
        margin-left: 6rem;
        padding: 0.5rem;
    }
}

@media only screen and (max-width:600px) {
    .about-intro h1 h2 {
        font-size: 1.2rem;
    }
    .profile-image {
        margin-left: 0.5rem;
        width: 25.5rem;
        height: 16rem;
    }
    .about-description {
        position: relative;
        top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1rem;
        font-size: 1rem;
    }
    .intro-social li {
        font-size: 1.5rem;
        margin-left: 2.2rem;
        padding: 0.5rem;
    }
}

@media only screen and (max-width:400px) {
    .about-intro h1 h2 {
        font-size: 1rem;
    }
    .profile-image {
        margin-left: 0.5rem;
        height: 15rem;
        width: 19rem;
    }
    .about-description {
        position: relative;
        top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1rem;
        font-size: 0.9rem;
    }
    .intro-social li {
        font-size: 1.5rem;
        margin-left: 1rem;
        padding: 0.5rem;
    }
}


/*ABOUT SECTION RESPONSIVE END */


/* MY TOOLS SECTION STARTS */

#myTools {
    background: #151515 url(img/bg1.png);
    background-size: cover;
    max-width: 900px;
    margin: auto;
    background-attachment: fixed;
}

.tools-section {
    padding-top: 4rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 1.2rem;
}

.tools-section h1 {
    color: #1F2123;
    letter-spacing: 0.5rem;
}

.tools-section h2 {
    letter-spacing: 0.4rem;
    margin-top: -4rem;
}

.tools-section p{
    font-size: 1.7rem;
}

.web {
    padding-top: 3rem;
    padding-left: 10rem;
    font-size: 1rem;
}

.web h1 {
    color: #1F2123;
    letter-spacing: 0.7rem;
}

.web h2 {
    padding-left: 0.1rem;
    letter-spacing: 0.2rem;
    margin-top: -2.6rem;
}

.open {
    padding-top: 3rem;
    padding-left: 58rem;
    font-size: 1rem;
}

.open h1 {
    color: #1F2123;
    letter-spacing: 0.7rem;
}

.open h2 {
    padding-left: 0.1rem;
    letter-spacing: 0.7rem;
    margin-top: -2.6rem;
}

.tools-head1 {
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'sans', sans-serif;
}

.tools-head2 {
    padding-left: 20rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'sans', sans-serif;
}

.tools-head3 {
    padding-top: 4rem;
    padding-left: -1rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'sans', sans-serif;
}

.tools-head4 {
    padding-top: 4rem;
    padding-left: 20rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'sans', sans-serif;
}

.icons1 {
    position: relative;
    left: 4rem;
    height: 75px;
    width: 75px;
}

.icons2 {
    position: relative;
    left: 6rem;
    height: 75px;
    width: 75px;
}

.icons3 {
    position: relative;
    left: 8rem;
    height: 75px;
    width: 75px;
}

.icons4 {
    position: relative;
    left: 23rem;
    height: 75px;
    width: 75px;
}

.icons5 {
    position: relative;
    left: 25rem;
    height: 75px;
    width: 75px;
}

.icons6 {
    position: relative;
    left: 27rem;
    top: 0.7rem;
    height: 97px;
    width: 95px;
}

.line {
    position: relative;
    top: 0.5rem;
    left: -2rem;
    height: 0.2rem;
    border-radius: 1rem;
    background-color: tomato;
    width: 6rem;
}


/* MY TOOLS SECTION ENDS */


/* MY TOOLS RESPONSIVE START */

@media only screen and (max-width:1024px) {}

@media only screen and (max-width:768px) {}

@media only screen and (max-width:600px) {}

@media only screen and (max-width:400px) {
    table {
        border: 1px solid white;
    }
    .tools-table1 {
        font-size: 1rem;
    }
}


/* TIMELINE SECTION STARTS */

.timeline-section {
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.2rem;
}

.timeline-section h1 {
    color: #1F2123;
    letter-spacing: 0.5rem;
}

.timeline-section h2 {
    letter-spacing: 0.4rem;
    margin-top: -4rem;
}

.timeline-section p{
    font-size: 1.7rem;
}

.timeline-description {
    padding-left: 8rem;
    max-width: 1100px;
}

#resume {
    background: #151515 url(img/bg1.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 1rem;
}

#resume .resume-header {
    text-align: center;
}

#resume .resume-header h1 {
    font-family: 'sans';
    letter-spacing: 0.1rem;
    color: white;
}

#resume .resume-header h2 {
    font-family: 'sans';
    letter-spacing: 0.2rem;
}

#resume .resume-timeline {
    max-width: 980px;
}

#resume .timeline-wrap {
    border-radius: 0.5%;
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
}

#resume .timeline-wrap::before {
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    background: /*rgba(0, 0, 0, 0.1)*/
    white;
    position: absolute;
    left: 35%;
    border-radius: 1rem;
    top: 0;
}

#resume .timeline-block {
    position: relative;
    padding-top: 1.5rem;
}

#resume .timeline-ico {
    height: 2rem;
    width: 2rem;
    line-height: 1.8rem;
    background: #313131;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    left: 37%;
    top: 2.5rem;
    margin-left: -2.3rem;
}

#resume .timeline-ico i {
    position: relative;
    left: .05rem;
    top: .2rem;
}

#resume .timeline-header {
    float: left;
    width: 35%;
    font-size: 1rem;
    text-align: right;
}

#resume .timeline-header h3 {
    color: white;
    margin-bottom: 0;
}

#resume .timeline-header h1 {
    color: white;
    margin-bottom: 0;
}

#resume .timeline-header p {
    font-family: 'sans';
    font-size: 1.1rem;
    padding-right: 2.5rem;
    color: #888888;
}

#resume .timeline-content {
    text-align: left;
    margin-left: 35%;
    padding-left: 60px;
    font-family: 'sans';
}

#resume .timeline-content h4 {
    position: relative;
    letter-spacing: 0.09rem;
    padding-bottom: 0.7rem;
}

#resume .timeline-content h4::after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
}


/* TIMELINE RESPONSIVE STARTS */

@media only screen and (max-width:1024px) {
    #resume .timeline-header {
        padding-right: 50px;
    }
    #resume .timeline-header h3 {
        font-size: 1.8rem;
    }
    #resume .timeline-header p {
        font-size: 1.4rem;
    }
    #resume .timeline-content {
        padding-left: 50px;
    }
}

@media only screen and (max-width:768px) {
    #resume .timeline-wrap::before {
        left: 2.4rem;
    }
    #resume .timeline-ico {
        left: 2.4rem;
    }
    #resume .timeline-header {
        float: none;
        width: auto;
        padding-right: 15px;
        text-align: left;
    }
    #resume .timeline-header h3 {
        font-size: 2rem;
    }
    #resume .timeline-header p {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    #resume .timeline-content {
        margin: 0;
    }
    #resume .timeline-content h4 {
        padding-bottom: 0;
        padding-top: 2.1rem;
        margin-bottom: .6rem;
        font-size: 1.7rem;
    }
    #resume .timeline-content h4::after {
        bottom: auto;
        top: 0;
    }
    #resume .timeline-header,
    #resume .timeline-content {
        padding-left: 7rem;
    }
}

@media only screen and (max-width:480px) {
    #resume .resume-header h2 {
        font-size: 2.2rem;
    }
    #resume .timeline-wrap::before {
        left: 1.8rem;
    }
    #resume .timeline-ico {
        height: 3.6rem;
        width: 3.6rem;
        line-height: 3.6rem;
        left: 1.8rem;
        margin-left: -1.8rem;
        font-size: 1.5rem;
    }
    #resume .timeline-header,
    #resume .timeline-content {
        padding-left: 5.5rem;
    }
}


/* TIMELINE RESPONSIVE ENDS */


/*CONTACT FORM STARTS */

#contact {
    font-family: 'sans';
}

#contact form input,
textarea {
    font-family: 'sans';
}

.contact-form{
    max-width: 750px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100%;
    border: black;
    color: white;
    box-sizing: border-box;
    margin: 10px 0;
    outline: none;
    padding: 20px 30px;
    background: #111;
    transition: .5s;
}

.contact-form-text:focus{
    box-shadow: 0 0 1px 1px tomato;
}

textarea.contact-form-text{
    height: 120px;
    resize: none;
    margin-bottom: 1.5rem;
}

.contact-form-button{
    text-align: center;
    width: 20%;
    border: none;
    cursor: pointer;
    transition: 0s; 
    border-radius: 0.1rem;
    margin: 0 auto;
    display: block;
    -webkit-transition: .4s all;
    padding: 10px 10px;
}

.contact-form-button:hover{
    color: white;
    background: tomato;
    -webkit-transition: .4s all;
    transition: 0.1s;
}

/* Contact Form End */

footer{
    background-color: black;
    text-align: center;
    padding: 25px;
}